@model NormiesRe.Post.PostListViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="alert alert-warning">
    <strong>Hello</strong> This is a blog for people who aren't normies. <br />
    In a normie world, someone writes a blog and everyone reads it. Here, everyone writes a blog and probably not-so-many will read it. <br />
    Enjoy!
</div>

<hr />
<a asp-action="New" class="btn btn-warning">New</a>
<hr />
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <tr class="row">
            <th scope="row">Posts</th>
        </tr>
        @foreach (var post in Model.Posts) {
            <tr class="row">
                <td scope="row">
                    <span class="flag">@post.Country</span>
                    <span class="label label-info">@post.ReleaseDate.ToShortDateString()</span>
                    <span class="label label-info">@post.ReleaseDate.ToString("HH:mm:ss")</span>
                    <a asp-action="Show" asp-route-id="@post.ID">
                        @post.Title
                        <span class="label label-primary pull-right">Post #@post.ID</span>
                    </a>
                    
                </td>
            </tr>
        }
    </table>
</div>

<script type="text/javascript">
    let flags = document.querySelectorAll(".flag");
    flags.forEach(flag =>
        flag.innerHTML = flag.innerHTML.toUpperCase()
            .replace(/./g, char => String.fromCodePoint(char.charCodeAt(0) + 127397))
    );
</script>