@using Westwind.AspNetCore.Markdown
@model NormiesRe.Post.PostViewModel
@{
    ViewData["Title"] = @Model.Title;
    var nextPost = Model.ID + 1;
}
<hr />
<a asp-action="Index" class="btn btn-primary">return</a>
<a asp-action="Show" asp-route-id="@nextPost" class="btn btn-primary pull-right">Next Post</a>
<hr />

<h1><span class="flag">@Model.Country</span> - @Model.Title</h1>
<div style="word-break: break-all;">
    @Markdown.ParseHtmlString(@Model.Content)
</div>
<hr />
<h3>Comments</h3>
@foreach (var commentViewModel in Model.Comments)
{
    <div>
        <small>
        <span class="flag">@commentViewModel.Country</span> @commentViewModel.ReleaseDate.ToShortDateString() - @commentViewModel.ReleaseDate.ToString("HH:mm:ss")
            <span class="label label-primary youable" postid="@commentViewModel.ID">Post #@commentViewModel.ID</span>
        </small>
        @Markdown.ParseHtmlString(@commentViewModel.Comment)
    </div>
    <hr />
}

<form asp-action="AddComment" asp-route-postid="@Model.ID" method="POST">
    <div class="form-group">
        <label for="Content">Your Comment</label>
        <small class="form-text text-muted">You can use markdown</small>
        <textarea required name="Content" id="Content" style="min-height: 200px" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script type="text/javascript">
    $(".youable").on("click", function() {
        $("#Content").val($("#Content").val()+"@@" + $(this).attr("postid")+"\n");
    })
</script>